@using BotManager.Lib.Data.Entities;
@model BotProfile
@{
    Layout = "_Layout";
}


<div class="container">
    <div class="container-fluid">
        <div class="row">
            @{
                int totalKills = Model.Activity.Sum(x => x.KillsDone);
                var todaysActivity = Model.Activity
                .Where(x => x.Date == DateTime.Today)
                .FirstOrDefault() ?? new BotActivity();
            }

            <div class="col-sm">
                <div class="card">
                    <h2 class="card-title">
                        @Model.Name
                    </h2>
                    <p> @totalKills kills logged</p>
                    <p> @todaysActivity.KillsDone / 60 daily kills done</p>
                    <br />
                </div>
            </div>

            @foreach (var activity in Model.Activity.OrderByDescending(x => x.Date))
            {
                <div class="col-sm">
                    <div class="card">
                        <h2 class="card-title">
                            @activity.Date.ToShortDateString()
                        </h2>
                        @{
                            var sortedLoot = activity.Loot
                                .GroupBy(x => new { x.RunescapeId, x.Quantity, x.Item.Name })
                                .Select(x => new { x.Key.Name, Quantity = x.Sum(x => x.Quantity) })
                                .ToList();

                            @foreach (var item in sortedLoot)
                            {
                                <p>@item.Name : @item.Quantity</p>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>